<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610980185226-nhffnrd4igqe0ks4v2rb3lc0e8nofeg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610980185226-nhffnrd4igqe0ks4v2rb3lc0e8nofeg5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610980185226-cusj4vrc6j3kr4p2mortn96nj350f478.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFR9EMwUfYRdZYhY46vPVk2E-YwSVicKU</string>
	<key>GCM_SENDER_ID</key>
	<string>610980185226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripApp</string>
	<key>PROJECT_ID</key>
	<string>tripapp-db727</string>
	<key>STORAGE_BUCKET</key>
	<string>tripapp-db727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610980185226:ios:549105da194b0f64611973</string>
</dict>
</plist>